*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: darkcyan;
}
.youssef{
    height: 500px;
    width: 500px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;

}
.hamza{
    display: flex;
    height: 500px;
    width: 500px;

}
.spider{
    display: flex;
    height: 500px;
    width: 500px;
}
img{
    width: 200px;
    height: 200px;
}